{% extends "layout.html" %}
{% load extra %}
{% block title %}Dashboard{% endblock %}

{% block main %}
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="page-header">
            <h1>rs{{ rsid }}</h1>
          </div>

          <h3>Location</h3>

          <table class="table">
            <tr>
              <th>Assembly</th>
              <th>Chr</th>
              <th>Chr Pos</th>
            </tr>
            {% for pos in chr_pos %}
            <tr>
              <td>{{ dbsnp_ref_genome_build }}</td>
              <td>{{ pos.chr }}</td>
              <td>{{ pos.pos }}</td>
            </tr>
            {% endfor %}
          </table>

          <h3>RefSeq Mapping</h3>

          <table class="table">
            <tr>
              <th>RefSeq ID</th>
              <th>SNP to RefSeq</th>
              <th>Position</th>
              <th>Allele</th>
            </tr>
            {% for s in refseq %}
              {% if s.accession %}
                <tr>
                  <td>{{ s.accession }}.{{ s.accession_ver }}</td>
                  <td>{{ s.orientation| fwd_or_rev }}</td>
                  <td>{{ s.pos }}</td>
                  <td>{{ s.allele }}</td>
                </tr>
              {% else %}
                <tr>
                  <td>N/A</td>
                  <td>N/A</td>
                  <td>N/A</td>
                </tr>
              {% endif %}
            {% endfor %}
          </table>

          <table class="table">
            <tr>
              <th>RefSeq ID</th>
              <th>Position</th>
              <th>Residue change</th>
            </tr>
            {% for s in snp3d %}
              {% if s.protein_acc %}
                <tr>
                  <td>{{ s.protein_acc }}</td>
                  <td>{{ s.aa_position }}</td>
                  <td>{{ s.contig_res }} => {{ s.var_res }}</td>
                </tr>
              {% else %}
                <tr>
                  <td>N/A</td>
                  <td>N/A</td>
                  <td>N/A</td>
                </tr>
              {% endif %}
            {% endfor %}
          </table>

          <h3>NCBI Resource Links</h3>
          <table class="table">
            <tr>
              <th>3D structure mapping</th>
              <th>OMIM</th>
            </tr>
            <tr>
              <td>
                {% for s in snp3d %}
                  {% if s.protein_acc %}
                    <a href="//www.ncbi.nlm.nih.gov/projects/SNP/snp3D.cgi?rsnum={{ rsid }}" target="_blank">
                      <span class="label label-success">{{ s.protein_acc }}</span>
                    </a>
                    &nbsp
                  {% else %}
                    N/A
                  {% endif %}
                {% endfor %}
              </td>
              <td>
                {% for o in omim %}
                  {% if o.omim_id %}
                    <a href="//omim.org/entry/{{ o.omim_id }}#{{ o.omimvar_id }}" target="_blank">
                      <span class="label label-success">{{ o.omim_id }}.{{ o.omimvar_id }}</span>
                    </a>
                    &nbsp
                  {% else %}
                    N/A
                  {% endif %}
                {% endfor %}
              </td>
            </tr>
          </table>

          <h3>Allele Freq</h3>
          <table class="table">
            {% for source, allele_freq in allele_freqs.items %}
              {% for allele, freq in allele_freq.items %}
              <tr>
                <th>{{ allele }}</th>
                <td>{{ freq }}</td>
              </tr>
              {% endfor %}
              <tr>
                <th>allele freq source</th>
                <td>{{ source }}</td>
              </tr>
            {% endfor %}
          </table>

          <hr>
          <p class="text-right">dbSNP build: <strong>{{ dbsnp_build }}</strong></p>

        </div>
      </div>
    </div>
{% endblock %}
