{% extends "layout.html" %}
{% load extra %}
{% block title %}Dashboard{% endblock %}

{% block main %}
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="page-header">
            <h1>rs{{ rsid }}</h1>
          </div>

          <h2 class="sub-header">location</h2>

          <table class="table">
            <tr>
              <th>chrom</th>
              <td>{{ chr_pos.0.chr }}</td>
            </tr>
            <tr>
              <th>position</th>
              <td>{{ chr_pos.0.pos }}</td>
            </tr>
            <tr>
              <th>reference genome build</th>
              <td>{{ dbsnp_ref_genome_build }}</td>
            </tr>
          </table>

          <h2 class="sub-header">merge history</h2>
          <table class="table">
            <tr>
              <th>rs id</th>
              <td>{{ rsid }}</td>
            </tr>
            <tr>
              <th>current</th>
              <td>{{ chr_pos.0.snp_current }}</td>
            </tr>
            <tr>
              <th>dbsnp build</th>
              <td>{{ dbsnp_build }}</td>
            </tr>
          </table>

          <h2 class="sub-header">allele freq</h2>
          <table class="table">
            {% for source, allele_freq in allele_freqs.items %}
              {% for allele, freq in allele_freq.items %}
              <tr>
                <th>{{ allele }}</th>
                <td>{{ freq }}</td>
              </tr>
              {% endfor %}
              <tr>
                <th>allele freq source</th>
                <td>{{ source }}</td>
              </tr>
            {% endfor %}
          </table>

        </div>
      </div>
    </div>
{% endblock %}
