{% extends "layout.html" %}
{% load extra %}
{% block title %}Dashboard{% endblock %}

{% block main %}
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1></h1>

          <h2 class="sub-header">Query</h2>

          <form action="/dbsnp/snps/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              <label for="id_af_population">Allele frequency source population</label>
              {{ form.af_population| css_class:"form-control" }}

              <label for="id_rsids">rs IDs</label>
              {{ form.rsids| css_class:"form-control" }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>

          {% if form.data %}
          <h2 class="sub-header">Results</h2>

          <!-- Form validation messages -->
          {% if form.errors %}
            {% for key,msgs in form.errors.items %}
              {% for msg in msgs %}
              <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Form input erorr in {{ key }}: {{ msg }}
              </div>
              {% endfor %}
            {% endfor %}
          {% else %}
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#chr_pos" aria-controls="chr_pos" role="tab" data-toggle="tab">Position (GRCh37.p13)</a></li>
            <li role="presentation"><a href="#af" aria-controls="af" role="tab" data-toggle="tab">Allele Freq</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="chr_pos">
              {% if chr_pos %}
              <table class="table table-striped">
                <tr>
                  <th>rs ID</th>
                  <th>Current rs ID</th>
                  <th>Chrom</th>
                  <th>Position</th>
                </tr>
                {% for pos in chr_pos %}
                <tr>
                  <th><a href="{% url 'snp' pos.snp_id %}">{{ pos.snp_id| na }}</a></th>
                  <th>{{ pos.snp_current| na }}</th>
                  <th>{{ pos.chr| na }}</th>
                  <th>{{ pos.pos| na }}</th>
                </tr>
                {% endfor %}
              </table>
              {% else %}
              <div class="alert alert-warning" role="alert">
                Not found.
              </div>
              {% endif %}
            </div>

            <div role="tabpanel" class="tab-pane" id="af">
              {% if allele_freqs %}
              <table class="table table-striped">
                <tr>
                  <th>rs ID</th>
                  <th>Current rs ID</th>
                  <th>Allele 1</th>
                  <th>Allele 2</th>
                  <th>Allele 1 Freq</th>
                </tr>
                {% for af in allele_freqs %}
                <tr>
                  <th>{{ af.snp_id }}</th>
                  <th>{{ af.snp_current| na }}</th>
                  <th>{{ af.allele.0| na }}</th>
                  <th>{{ af.allele.1| na }}</th>
                  <td>{{ af.freq.0| na }}</td>
                </tr>
                {% endfor %}
              </table>
              {% else %}
              <div class="alert alert-warning" role="alert">
                Not found.
              </div>
              {% endif %}
            </div>

          </div>
          {% endif %}
          {% endif %}

        </div>
      </div>
    </div>
{% endblock %}
